---
layout: bootcamp
root: .
venue: ETH Zurich
address: Ramistrasse 101, 8092 Zurich
country: Switzerland
humandate: Feb 28-Mar 1, 2014
humantime: 9:00 am - 5:30 pm
startdate: 2014-02-28
enddate: 2014-03-01
latlng: 47.3775448,8.54787859
registration: restricted
instructor: ["Stefano Cozzini", "Sam Thomson"]
contact: admin@software-carpentry.org
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
  </div>
  <div class="span6">
    {% include setup/overview-editor.html %}
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-python.html %}
  </div>
  <div class="span6">
    {% include setup/overview-nose.html %}
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-git.html %}
  </div>
  <div class="span6">
    {% include setup/overview-make.html %}
  </div>
</div>

<h2>Mac OS X</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/macosx-bash.html %}
    {% include setup/macosx-git.html %}
    {% include setup/macosx-make.html %}
  </div>
  <div class="span6">
    {% include setup/macosx-anaconda.html %}
    {% include setup/macosx-python.html %}
    {% include setup/macosx-nose.html %}
  </div>
</div>

<h2>Linux</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/linux-bash.html %}
    {% include setup/linux-git.html %}
    {% include setup/linux-make.html %}
    {% include setup/linux-nose.html %}
  </div>
  <div class="span6">
    {% include setup/linux-anaconda.html %}
    {% include setup/linux-python.html %}
  </div>
</div
