<div id="setup-linux-python" class="setup setup-linux setup-python">
  <h3>Linux / Python</h3>

  <p>
    If you do not wish to use the
    <a href="http://continuum.io/downloads.html">Anaconda</a>
    Python distrubution, you should install:
    <ul>
      <li>
        <a href="http://www.python.org/download/releases/2.7.6/">
        Python</a> (Note: we recommend installing Python 2.7.x
        rather than Python 3.x for maximum compatibility, though
        all up-to-date versions of the packages required should
        be 3.x compatible)
      </li>
      <li>
        <a href="http://www.scipy.org/scipylib/download.html">
        NumPy</a>
      </li>
      <li>
        <a href="http://matplotlib.org/downloads.html">
          matplotlib</a>
      </li>
      <li>
        <a href="http://ipython.org/install.html">
        iPython</a> (Optional, but it provides a more advanced
        Python interpreter, amongst other tools)
    </ul>
    Most are likely available via your distro's package
    manager, e.g.
    <ul>
      <li>
        Ubuntu:<br />
        <code>sudo apt-get install python2.7 python-numpy
        python-matplotlib</code>
        Optional:<br />
        <code>sudo apt-get install ipython-notebook</code>
      </li>
      <li>
        Fedora:<br />
        <code>sudo yum install python numpy python-matplotlib</code>
        <br />Optional:<br />
        <code>sudo yum install python-ipython-nodebook</code>
      </li>
    </ul>
</div>
