<div id="setup-linux-nose" class="setup setup-linux setup-nose">
  <h3>Linux / Nose</h3>

  <p>
    If you are not using the above
    <a href="http://continuum.io/downloads.html">Anaconda</a>
    Python distrubution, first install Python and other related
    packages (see right), then
    <a href="http://www.pip-installer.org/en/latest/installing.html">install pip</a>.
  </p>

  <p>
    Then, run:
  </p>

<pre>
$ pip install nose
</pre>

  <p>
    and check:
  </p>

<pre>
$ nosetests
----------------------------------------------------------------------
Ran 0 tests in 0.003s
OK
</pre>
</div>
