<div id="setup-macosx-git" class="setup setup-macosx setup-git">
  <h3>Mac OS X / Git</h3>

  <p><em>
    Installing Git requires you to first install XCode.
    This is a very large download (several gigabytes),
    so please do it <strong>before</strong> arriving at the bootcamp.
  </em></p>

  <h4>For Mac OS X 10.9:</h4>

  <p>
    You can install the Xcode command line tools directly from a
    terminal window. Simply run <code>xcode-select --install</code>
    and select install from the popup. This will also install
    make (along with a bunch of other stuff).

  <h4>For Mac OS X 10.7 and 10.8 (and 10.9):</h4>

  <p>
    Go to the
    <a href="https://developer.apple.com/xcode/">Xcode website</a>.
    Get XCode from the App Store making
    certain to install the command line tools (from the
    Download pane in Xcode's preferences). Git is included in
    the command line tools, along with make.
  </p>

  <h4>For Mac OS X 10.6</h4>

  <p>
    You need an Apple ID
    <a href="https://developer.apple.com/register/index.action">
    linked to a Developer account</a>. Then,
    first get XCode by going to
    <a href="https://developer.apple.com/downloads/">the Apple developer site</a>.
    Sign in with an Apple ID linked to a Developer account.
    Once you log in,
    go to page 9 and find "XCode 3.2.6 and iOS SDK 4.3 for Snow Leopard".
    Click to open that section,
    and then download the <code>.dmg</code> file.  Mount it,
    run the installer and make sure you select to install all
    components.  Alternatively,
    <a href="http://code.google.com/p/git-osx-installer/downloads/list?can=3">install just git</a>, but
    note that Xcode command line tools are required for make.
  </p>
</div>
