<div id="setup-macosx-python" class="setup setup-macosx setup-python">
  <h3>Mac OS X / Python</h3>

  <p>
    If you do not wish to use the
    <a href="http://continuum.io/downloads.html">Anaconda</a>
    Python distrubution, you should install:
    <ul>
      <li>
        <a href="http://www.python.org/download/releases/2.7.6/">
        Python</a> (Note: we recommend installing Python 2.7.x
        rather than Python 3.x for maximum compatibility, though
        all up-to-date versions of the packages required should
        be 3.x compatible)
      </li>
      <li>
        <a href="http://sourceforge.net/projects/numpy/files/NumPy/">
        NumPy</a>
      </li>
      <li>
        <a href="http://matplotlib.org/downloads.html">
          matplotlib</a>
      </li>
      <li>
        <a href="http://ipython.org/install.html">
        iPython</a> (Note: first
        <a href="http://www.pip-installer.org/en/latest/installing.html">
        install pip</a>, and then run
        <code>sudo easy_install ipython[all]</code>)
    </ul>
  </p>

</div>
